/backend/target/*
/frontend/node_modules/*
backend/target/*
frontend/node_modules/*
/backend/target/
/frontend/node_modules/
backend/target/
frontend/node_modules/
/logs/*
logs/*
logs/
/logs/
*.iml
*.idea
*.jar
*.war
*.ear
*.log
target/