<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.air.modules.system.mapper.SysPermissionMapper">

	<resultMap id="TreeModel" type="com.air.modules.system.model.TreeModel" >
		<result column="id" property="key" jdbcType="VARCHAR"/>
		<result column="name" property="title" jdbcType="VARCHAR"/>
		<result column="icon" property="icon" jdbcType="VARCHAR"/>
		<result column="parent_id" property="parentId" jdbcType="VARCHAR"/>
		<result column="leaf_flag" property="isLeaf" jdbcType="INTEGER"/>
	</resultMap>

	<resultMap id="permissionList" type="com.air.modules.system.entity.SysPermission" >
		<result column="id" property="id" jdbcType="VARCHAR"/>
		<result column="parent_id" property="parentId" jdbcType="VARCHAR"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="url" property="url" jdbcType="VARCHAR"/>
		<result column="component" property="component" jdbcType="VARCHAR"/>
		<result column="redirect" property="redirect" jdbcType="VARCHAR"/>
		<result column="menu_type" property="menuType" jdbcType="INTEGER"/>
		<result column="perms" property="perms" jdbcType="VARCHAR"/>
		<result column="sort_no" property="sortNo" jdbcType="DOUBLE"/>
		<result column="always_show" property="alwaysShow" jdbcType="INTEGER"/>
		<result column="icon" property="icon" jdbcType="VARCHAR"/>
		<result column="is_leaf" property="isLeaf" jdbcType="INTEGER"/>
		<result column="hidden" property="hidden" jdbcType="INTEGER"/>
		<result column="description" property="description" jdbcType="VARCHAR"/>
		<result column="create_by" property="createBy" jdbcType="VARCHAR"/>
		<result column="create_time" property="createTime" jdbcType="DATE"/>
		<result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
		<result column="update_time" property="updateTime" jdbcType="DATE"/>
		<result column="is_deleted" property="isDeleted" jdbcType="VARCHAR"/>
	</resultMap>

	<select id="queryListByParentId" parameterType="Object"  resultMap="TreeModel">
        SELECT id,parent_id,name,icon,leaf_flag
	    FROM sys_permission
	    WHERE 1=1
		<choose>
			<when test="parentId != null and parentId != ''">
				AND parent_id = #{parentId,jdbcType=VARCHAR}
			</when>
			<otherwise>
				AND parent_id is null
			</otherwise>
		</choose>
	</select>

	<select id="queryByUser" parameterType="Object"  resultMap="permissionList">
		SELECT
		p.id,
		p.parent_id,
		p.name,
		p.url,
		p.component,
		p.redirect,
		p.menu_type,
		p.perms,
		p.sort_no,
		p.always_show,
		p.icon,
		p.is_leaf,
		p.hidden,
		p.description,
		p.create_by,
		p.create_time,
		p.update_by,
		p.update_time,
		p.is_deleted
		FROM  sys_permission p
		WHERE EXISTS(
			SELECT a.id FROM sys_role_permission a
			JOIN sys_role b ON a.role_id = b.id
			JOIN sys_user_role c ON c.role_id = b.id
			JOIN sys_user d ON d.id = c.user_id
			WHERE p.id = a.permission_id AND d.username = #{username,jdbcType=VARCHAR}
		)
		AND p.is_deleted = 0
		ORDER BY p.sort_no ASC
	</select>
</mapper>
